body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
    text-align: center;
    margin: auto;
}

#shape{
    width: 200px;
    height: 200px;
    background-color: green;
    position: relative;
    box-shadow: 0 0 20px #888888;
    display: none;
}

#shape:hover {
    opacity: 0.8;
    cursor: pointer;
}

#endCondition {
    width: 100%;
    height: 200px;
    background-color: greenyellow;
    justify-content: center;
    margin: auto;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    padding-top: 70px;
    display: none;
    margin-top: 20px;
}

#dismissButton {
    display: none;
    justify-content: center;
    align-items: center;
}
 #fact1 {
    display: none;
    font-size: 90px;
 }
 #fact2 {
    display: none;
    font-size: 90px;
 }
 #fact3 {
    display: none;
    font-size: 90px;
 }

 #roadSafety{
    width: 50%;
    margin: auto;
    text-align: center;
    border: 5px solid #FFFF00;
    padding-top: 20px;
    box-shadow: 2px 3px #1B1b1b;
    height: 1270px;
 }
 #safeSpeed{
    float: left;
 }
 #AandD{
    float: right;
 }
 #Fatigue{
   float:left;
 }
 #Mobile{
   float: right;
 }
 .speedtext{
   background-color: whitesmoke;
   width: 800px;
   height: 2400px;
   margin: auto;
 }
